#ascii-art {
    font-family: monospace;
    font-size: 14px;
    white-space: pre;
/*    letter-spacing: -1px;*/
    line-height: normal;
}

.logo-icon  {
    width: 16px !important;
    height: 16px !important;
    padding: 0px 4px 0px 4px;
}
